/* =====================
   TABEL LAPORAN MASUK
===================== */
.table {
    border: 1px solid #000 !important;
}

.table th,
.table td {
    border: 1px solid #000 !important;
    vertical-align: middle;
}

/* Header tetap hitam & tegas */
.table thead th {
    border-bottom: 2px solid #000 !important;
}
